<div class="panel">
    <h6>ceo information</h6>
    <div id="edit2">

        <div class="form-group">
            <label>mition text</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>ceo name</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>profile picture</label>
            <input type="text" class="form-control">
        </div>
        <div>
            <input type="button" class="btn btn-success" value="save"/>
        </div>
    </div>
</div>