<div class="panel">
    <h6>address information</h6>
    <div id="edit4">

        <div class="form-group">
            <label>facebook url</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Tweeter url</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>goole+ url</label>
            <input type="text" class="form-control">
        </div>
        <div>
            <input type="button" class="btn btn-success" value="save"/>
        </div>
    </div>
</div> 